/***************************
BODY: HEADER
***************************/

h1 {
    font-family: serif;
    font-size: 2em;
    margin-left: 4.5%;
    margin-bottom: 0;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: .8em;
    margin-left: 4.5%;
    margin-bottom: 4%;
    margin-top: 0;
}

.header {
    text-align: left;
    width: 100%;
}

.title_text_you {
    font-style: italic;
}



/***************************
BODY: IMAGES
***************************/


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.first_row_of_three,
.second_row_of_three {
    display: inline-block;
    width: 25%;
    margin: 2.5% 4.15%;
    float: left;
    border-radius: 2.5%;
}

#img_five,
#img_ten {
    width: 92%;
    display: block;
    margin: 0 auto;
    border-radius: 5%;
    max-height: 100%;
}


.row_of_two {
    float: left;
    display: inline-block;
/*    margin: 0 auto;*/
    
}

/*leg splint and box*/
#img_seven {
    width: 46%;
    border-radius: 5px;
}

/*shell base*/
#img_nine {
    width: 23%;
    margin-left: 16%;
    margin-top: 12%;
    border-radius: 5px;
    
}

.row_of_two_container {
    margin-left: 4%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

/*manufacture label*/
#img_eleven {
    width: 35%;
    border-radius: 5px;
    position: relative;
    margin-bottom: 10%;
    top: -25px;
    left: -50px
}



/***************************
BODY: TEXT
***************************/

.description {
    font-family: 'Roboto Mono', monospace;
    display: inline-block;
    width: 20%;
    border-radius: 5px;
    margin-top: 12%;
    margin-left: 6%;
    margin-right: 7.3%;
    float: left;
    display: none;
    text-align: center;
}

.img_three_text {
    margin-bottom: 14%;
}

.img_eight_text {
    margin-bottom: 20%;
}

#eames_one {
    border-radius: 50%;
    width: 35%;
    position: absolute;
    top: 35%;
    left: 15%;
    display: none;
}

/*
#eames_elephant {
    border-radius: 50%;
    width: 15%;
    position: absolute;
    top: 25%;
    left: 50%;
    display: none;
}
*/

#eames_text {
    border-radius: 50%;
    width: 35%;
    position: absolute;
    top: 42%;
    left: 56%;

}


/***************************
BODY: FOOTER
***************************/


footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    padding-bottom: 10px;
    color: black;
}

footer p {
    margin-top: 60px;
}

/***************************
JAVA QUERY
***************************/

#overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100px;
    margin-left: 3%;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    top: 35%;
    left: 40%;
    display: none;
    text-align: center;
}

#overlay_two {
    background: rgba(245 ,245 , 245, 0.7);
    width: 100px;
    margin-left: 3%;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    top: 30%;
    left: 63%;
    display: none;
    text-align: center;
}

/*
.disappearing_image_group_overlay_one {
    background: rgba(0, 0, 0, 0.7);
    width: 25%;
    height: 50%;
    position: absolute;
    border-radius: 5%;
    top: 100%;
    left: %;
    text-align: center;
}
*/



